[phases.setup]
nixPkgs = ["...", "python38", "python38Packages.pip", "python38Packages.virtualenv"]

[phases.install]
cmds = [
  "python -m pip install --upgrade pip",
  "pip install -r requirements.txt"
]

[start]
cmd = "uvicorn src.api.neurobotanica:app --host 0.0.0.0 --port $PORT"